body {
    background-color: #000000;
}

.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #5fe470;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 6px solid #ffd800;
    box-shadow: 10px 15px 5px #0026ff;
}

.grid h1 {
    font-family: "sans-serif";
    background-color: #1D3C6A;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
    border-radius: 80px;
}


#score {
    background-color: #fddd2e;
    color: #000000;
    text-align: center;
    font-size: 30px;
}

.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #000000
   
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
    background-color: #4800ff;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #ffd800;
    color: #000000;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}

#progress {
    color: #000000;
    font-size: 15px;
}